<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/nav.css">
</head>
<body>

    <nav>
        <div class="dropdown">
            <button onclick="dropdown()" class="dropbtn">ჩვენი შემოთავაზებები</button>
            <div id="myDropdown" class="dropdown-content">
              <a href="#">ახალი დამატებული</a>
              <a href="#">პოპულალური</a>
              <a href="#">ფასდაკლება</a>
            </div>
        </div>
        <div class="dropdown ">
            <button onclick="dropdownAuth()" class="dropbtn dropAuthbtn">ჩემი პროფილი</button>
            <div id="myDropdownAuth" class="dropdown-content ">
              <a href="/registration">რეგისტრაცია</a>
              
                    <div class="dropdown dropdown-content-log">
                            <button onclick="dropdownLog()" class="dropbtn droplogbtn">შესვლა</button>
                            <div id="myDropdownLog" class="dropdown-content dropdown-content-log">
                                    <form id="login-form" action="/" method="POST">
                                        <input type="email" name="email" value="" class="inputLog"><br>
                                        <input type="password" name="password" value="" class="inputLog"><br>
                                        <!-- <input type="submit" value="submit" class="inputLog"> -->
                                        <button type="submit" value="submit" class="inputLog inputLogbtn">submit</button>
                                    </form>
                            </div>
                    </div>
                  
             
            </div>
        </div>
    </nav>
    
    <script>
        function dropdown() {
            myDropdown.classList.toggle("show");
        }

        function dropdownAuth() {
            myDropdownAuth.classList.toggle("show");
        }
        function dropdownLog() {
            myDropdownLog.classList.toggle("show");
        }
    
    
      var droplist = function(event) {
        if (!event.target.matches('.dropbtn')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      }

    </script>
    
</body>
</html>