nav{
    width: 100%;
    height: 55px;
    margin-top: 20px;
    padding-left: 20px;
    /* background: rgba(52, 152, 219, 0.5); */
    
}


.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    margin-left: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
  }

  .dropAuthbtn{
      width: 200px;
  }

  .droplogbtn{
      margin: 0;
      padding: 0;
      width: 200px;
      height: 40px;
      
  }

  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    margin-left: 5px;
    width: 200px;
    /* overflow: auto; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 16px;
    /* text-decoration: none; */
    display: block;
  }


  .dropdown-content-log{
    margin-left: 0;

  }
 
  #login-form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    outline: none;
  }

  .inputLog{
    outline: none;
    border: none;
    height: 30px;
    background: rgba(52, 152, 219, 0.5);
  }

  .inputLogbtn{
      cursor: pointer;
  }


  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}