h1{
    color: white;
    text-align: center;
    margin: auto;
}

.form {
    display: flex;
    justify-content: center;
    margin: auto;
}

input{
    width: 300px;
    height: 40px;
    padding: 10px;
    outline: none;
    margin-bottom: 10px;
    border: none;
}

label{
    color: white;
    padding-bottom: 10px;
    text-align: center;
}

.btn {
    background-color: #3498DB;
    cursor: pointer;
}

.label {
    color: red;
}