.registrationPage{
    width: 100%;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: space-around;

}

h1{
    color: white;
    text-align: center;
    margin: auto;
}

.chosenregistration{
    margin: auto 0;
    
    width: 300px;
    height: 300px;
    border: 3px double green;
    background: greenyellow;


}


.chosenregistrationBtn {
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    font-size: 40px;
}

.chosenregistration:hover{
    background: rgba(173, 255, 47, 0.5);
}