<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>contact</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id aliquam optio possimus tempore commodi rerum, iusto consectetur enim corrupti, odit necessitatibus accusantium dolores. Magnam distinctio velit fugiat optio dolores asperiores!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nobis maxime enim sit veniam similique quibusdam facere ullam. Saepe deleniti perferendis enim, inventore illum illo sed rerum dignissimos repellendus commodi?</p>



    <!-- <%= data.who %>
    <%= data.department %>
    <%= data.email %> -->
</body>
</html>