<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
    <% include partials/nav.ejs %>
    <h1>hi <%= person %> </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id aliquam optio possimus tempore commodi rerum, iusto consectetur enim corrupti, odit necessitatibus accusantium dolores. Magnam distinctio velit fugiat optio dolores asperiores!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque architecto porro qui perferendis distinctio ipsa odit iste mollitia expedita ut ducimus, repudiandae numquam praesentium aut nulla ipsam, laborum id at! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, harum recusandae praesentium earum mollitia iusto quas magnam fugiat deserunt? Et eveniet laboriosam atque quae. Esse illum unde natus voluptas provident.</p>
    <p><%= data.age %></p>
    <p><%= data.job %></p>

</body>
</html>