<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/registrationPage.css">
    
</head>
<body>
    <% include partials/nav.ejs %>

    <h1>რეგისტრაცია</h1>

    <div class="registrationPage" >
        <div class="chosenregistration ">
            <button class="chosenregistrationBtn" type="button" name="fizikuri" id="fizikuri">ფიზიკური პირი</button> 
        </div>
        <div class="chosenregistration"><button class="chosenregistrationBtn" type="button" id="kompania">კომპანია</button> </div>
    </div>

    <script >
        let fizikuri = document.getElementById("fizikuri")

        fizikuri.addEventListener("click", function(){
            window.location.href="/registration/fizikuri"
        })

        let kompanoa = document.getElementById("kompania")

        kompania.addEventListener("click", function(){
            window.location.href="/registration/kompania"
        })


    
    </script>
</body>

</html>