<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/registrationFizikuri.css">
</head>
<body>
        <% include partials/nav.ejs %>

    <h1>ფიზიკური პირის რეგისტრაცია</h1>

    <div class="form">
            <form id="registration-fizikuri-form" action="/registration/kompania/users" method="POST">
                <label id="label" class="label"></label><br>
                <label for="username">სახელი</label><br>
                <input type="text" name="username"  ><br>
                <label for="lastname">გვარი</label><br>
                <input type="text" name="lastname"  ><br>
                <label for="mobile">მობილურის ნომერი</label><br>
                <input type="number" name="mobile" value="" ><br>
                <label for="email">email</label><br>
                <input type="email" name="email" ><br>
                <label for="password">პაროლი</label><br>
                <input type="password" name="password" ><br>
                <label for="password">გაიმეორე პაროლი</label><br>
                <input type="password" name="password" ><br>
                <input type="submit" value="რეგისტრაცია" name="submit" class="btn" onclick="submitbtn()">


            </form>
    </div>
    <script>
    //     var label = document.getElementById("label")
    //    function submitbtn(){
    //     var a=document.forms["registration-fizikuri-form"]["whoname"].value;
    //     var b=document.forms["registration-fizikuri-form"]["who-lastname"].value;
    //     if(a == "" || b== null){
    //         label.innerHTML="sheiyvane saxeli"
    //         return;
    //     }
                
    //    }
window.onload =()=> {
    fetch(`${location.href}users`)
    .then(response => {
        return response.json()
    })
    .then(users => {
        console.log(users)
    })
    .catch(error => {
        console.error(error)
    })
}

    
    </script>
</body>
</html>