<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/registrationFizikuri.css">
</head>
<body>
            <% include partials/nav.ejs %>

    <h1>კომპანიის რეგისტრაცია</h1>

    <div class="form">
            <form id="registration-fizikuri-form" action="/registration/kompania/isa" method="POST">
                <label for="who-name">სახელი</label><br>
                <input type="text" name="who-name" value="" required><br>
                <label for="who-lastname">გვარი</label><br>
                <input type="text" name="who-lastname" value="" required><br>
                <label for="mobile">მობილურის ნომერი</label><br>
                <input type="number" name="mobile" value="" required><br>
                <label for="email">email</label><br>
                <input type="email" name="email" required><br>
                <label for="compname">კომპანიის დასახელება</label><br>
                <input type="text" name="compname" required><br>
                <label for="number">საიდენტიფიკაციო კოდი</label><br>
                <input type="number" name="number" required><br>
                <label for="password">პაროლი</label><br>
                <input type="password" name="password" required><br>
                <label for="password">გაიმეორე პაროლი</label><br>
                <input type="password" name="password" required><br>
                <input type="submit" value="რეგისტრაცია" name="submit" class="btn">
            </form>
    </div>

    <script>
        //     var label = document.getElementById("label")
        //    function submitbtn(){
        //     var a=document.forms["registration-fizikuri-form"]["whoname"].value;
        //     var b=document.forms["registration-fizikuri-form"]["who-lastname"].value;
        //     if(a == "" || b== null){
        //         label.innerHTML="sheiyvane saxeli"
        //         return;
        //     }
                    
        //    }
    window.onload =()=> {
        fetch(`${location.href}isa`)
        .then(response => {
            return response.json()
        })
        .then(users => {
            console.log(users)
        })
        .catch(error => {
            console.error(error)
        })
    }
    
        
        </script>
</body>
</html>